* {
    margin: 0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.flex-container div {
    flex: 1 1 0%;
    padding-bottom: 30px;
}
.header {
    display:flex;
    background-color: #1F2937;
    padding-top:0.5rem;
}
.text {
    width: 40%;
    padding-left:6em;;
}

.links {
    width: 60%;
    text-align: center;
    padding-right: 5rem;
}

h5 {
    font-size: 16px;
    color: #F9FAF8;
}
h4 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    padding-top: 4rem;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    size:20px;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    size:20px;
    padding: 0.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 8px;
}
.header p {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: #E5E7EB;
}
span {
    padding:10px;
    color: #E5E7EB;
}
img {
    margin-top: 3rem;
    padding-left:2.5rem;
    height: 150px;
    width: 27rem;
    
}

h2 {
    margin-top: 1rem;
    text-align: center;
}
.boxes {
    display: flex;
}

.box {
    flex:25%;
    padding:3rem;
}
.boxes img {
    box-sizing: border-box;
    border:3px solid #3882F6;
    border-radius: 8px;
    height:7rem;
    width: 7.3rem;
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 20px;
    padding-top:5rem;
    padding-left:30%;
    padding-bottom:5rem;
}
.action {
    margin-top: 5rem;
    padding-left:20%;
}
.action p {
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 8px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #F9FAF8;
    background-color: #3882F6;
    display: inline-block;
}
.action button {
    border:1px solid #F9FAF8;
    margin-left: 5rem;
}
.copyright {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #1F2937;
    color: #E5E7EB;
}
