* {
    font-size: 1vw;
    margin: 0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.flex-container div {
    flex: 1 1 0%;
    padding-bottom: 3%;
}
.header {
    display:flex;
    background-color: #1F2937;
    padding-top:1%;
}
.text {
    width: 40%;
    padding-left:4%;
}

.links {
    font-weight: bold;
    width: 60%;
    text-align: right;
    padding-right: 5%;
}

h5 {
    color: #F9FAF8;
}
h4 {
    color: #F9FAF8;
    font-weight: bold;
    padding-top: 10%;
}
button {
    font-weight: bold;
    display: inline-block;
    background-color: #3882F6;
    color: #F9FAF8;
    cursor: pointer;
    border: none;
    text-align: center;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 8px;
}
.header p {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: #E5E7EB;
}
span {
    padding:10px;
    color: #E5E7EB;
}
img {
    margin-top: 3rem;
    padding-left:25%;
    height: 11rem;
    width: 30vw;
    
}

h2 {
    margin-top: 1rem;
    text-align: center;
}
.boxes {
    display: flex;
}
.box {
    padding-left:10%;
    flex:25%;
}
.boxes img {
    box-sizing: border-box;
    border:3px solid #3882F6;
    border-radius: 8px;
    height:7rem;
    width: 7.3rem;
}
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding-top:2%;
    padding-left:40%;
    padding-bottom:2%;
}
.action {
    padding:2%;
    border-radius: 8px;
    margin-left: 30%;
    margin-right: 34.3%;
    background-color: #3882F6;
    margin-bottom: 3%;
    margin-top: 3%;
}
.action p {
    display: inline-block;   
    border-radius: 8px;
    color: #F9FAF8;
    background-color: #3882F6;
}
.action button {
    margin-left: 1.5%;
    font-size: 0.8vw;
    border:0.1vw solid #F9FAF8;
}
.copyright {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #1F2937;
    color: #E5E7EB;
}
